{% extends 'auth/base.html' %}
{% load static %}
{% block content %}
<main class="">
    <div class="container m-auto mt-5 row gap-2 justify-content-center">
        {% for category in categories %}
        <div class="card col-3 p-0">
            <img class="card-img-top" src="{{ category.image.url }}" alt="Card image cap"/>
            <div class="card-body">
                <h3>
                    <a class="text-decoration-none" href="{% url 'products' category.id %}">{{ category.title }}</a>
                </h3>
                <p class="card-text">
                    {{ category.description|truncatechars:70 }}
                </p>
                <div class="d-flex flex-column gap-2"></div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a class="btn btn-success btn-block mt-auto" href="{% url 'products' category.id %}">View
                            products</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-center mt-5">
        <nav aria-label="...">
            <ul class="pagination">
                <div class="d-flex justify-content-center mt-5">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li>
                                <a href="{% if not page_obj.has_previous %} #! {% else %} ?page={{ page_obj.previous_page_number }}{% endif %}"
                                   class="btn  {% if not page_obj.has_previous %} btn--disabled{%endif%}" tabindex="-1">&laquo;</a>
                            </li>
                            {% for page in page_obj.paginator.page_range %}
                            <li>
                                <a class="btn {% if page == page_obj.number %} btn--sub {% endif %}"
                                   href=" {% if page == page_obj.number %}#!{% else %}?page={{page}}{% endif %}">
                                    {{ page }}</a>
                            </li>

                            {% endfor %}
                            <li>
                                <a href="{% if not page_obj.has_next %} #! {% else %} ?page={{ page_obj.next_page_number }}{% endif %}"
                                   class="btn  {% if not page_obj.has_next %} btn--disabled{%endif%}" tabindex="-1">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </ul>
        </nav>
    </div>
</main>

{% endblock %}
