{% extends 'auth/base.html' %}
{% block content %}

<main class="vh-100 bg-body-tertiary">
    <div class="container m-auto mt-5 row gap-2 justify-content-center">
        <h1 class="d-flex justify-content-center mb-5">Your account</h1>
        <div class="d-flex justify-content-center gap-5">
            <img style="max-width: 300px; max-height: 100%; border-radius: 50%"
                 src="https://cdn3.iconfinder.com/data/icons/player/128/sound-18-1024.png" alt=""/>
            <div class="w-50">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Success</button>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
